* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding-left: 80px;
  padding-right: 80px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

#AboutMe {
  height: fit-content;
  justify-content: center;
  align-items: center;
}
.aboutMeContent {
  align-items: center;
}
.img-wrap {
  width: 100%;
}
.img-wrap img {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
}
#contactme {
  height: fit-content;
  justify-content: center;
  align-items: center;
}
